<div class="card">
    <div class="image">
        <img class="front-image" [src]="'data:image/jpeg;base64,' + logement.image" alt="Accommodation Image">
        <!-- <img class="favourite" src="../../../assets/img/favourite-true.svg" alt=""> -->
        <svg class="favourite" xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 32 32" aria-hidden="true" 
            role="presentation" focusable="false" 
            style="display: block; height: 30px; width: 30px; stroke-width: 2; overflow: visible; opacity: 1;"
            >
            <path [attr.stroke-opacity]=" logement.favourite ? 
            '1' : '1'" [attr.fill-opacity]="logement.favourite ? 
            '0.8' : '0.4'" [attr.fill]="logement.favourite ? 
            'red' : 'black'" [attr.stroke]="logement.favourite ? 
            'white' : 'white'" d="M16 28c7-4.73 14-10 14-17a6.98 6.98 0 0 0-7-7c-1.8 0-3.58.68-4.95 2.05L16 8.1l-2.05-2.05a6.98 6.98 0 0 0-9.9 0A6.98 6.98 0 0 0 2 11c0 7 7 12.27 14 17"
            >
            </path>
        </svg>
    </div>
    <div class="infos">
        <div class="about">
            <p class="city">{{ logement.city_name }}, France</p>
            <p class="price">{{ logement.price }} € par nuit</p>
        </div>
        <div class="rating">
            <img src="../../../assets/img/etoile-rating.svg" alt="">
            <p>{{ logement.rating }}</p>
        </div>
    </div>
</div>