<div class="footer">
    <div class="laws">

    </div>
    <div class="others">
        <div class="language">
            <img src="../../../assets/img/globe_footer.svg" alt="">
            <button (click)="onButtonClick('Language')" class="buttonOnLanguage">
                Français (FR)
            </button>
        </div>
        <div>
            <img src="" alt="">
            <button (click)="onButtonClick('Language')" class="buttonOnLanguage">
                EUR
            </button>    
        </div>
    </div>
</div>
