<div class="foot">
    <div class="switch-map">
        <button>Afficher la carte <img src="../../../assets/img/maps.svg" alt=""></button>
    </div>
    <div class="footer">
        <div class="general">
            <div class="laws">
                <p>© 2023 Airbnb, Inc. · 
                    <button>Confidentialité</button>
                     ·
                    <button>Conditions générales</button>
                    ·
                    <button>Plan du site</button>
                    ·
                    <button>Fonctionnement du site</button>
                    ·
                    <button>Infos sur l'entreprise</button>
                </p>
            </div>
            <div class="others">
                <div class="language">
                    <button (click)="onButtonClick('language')" class="buttonOnLanguage">
                        <img class="globe-footer" src="../../../assets/img/globe-footer.svg" alt="">
                        Français (FR)
                    </button>
                </div>
                <div class="devises">
                    <button (click)="onButtonClick('devise')" class="buttonOnDevise">
                        € EUR
                    </button>    
                </div>
                <div class="help">
                    <button (click)="onButtonClick('help')" class="assist">
                        Assistance et ressources
                        <img class="fleche-haut" src="../../../assets/img/arrow-bas.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
