.foot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        background-color: white;
    
        .general {
            border-top: 1px solid rgb(215, 215, 215);
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
    
            .laws {
                flex: 1;
                margin-left: 50px;
    
                p {
                    font-size: 14px;
                    color: grey;
                }

                button {
                    border: 0px;
                    margin: 0;
                    padding: 0;
                    background-color: white;
                    font-family: 'Roboto';
                    font-size: 14px;
                    color: grey;
                    cursor: pointer;
                    text-decoration: none;
                }

                button:hover {
                    text-decoration: underline;
                }
            }
        }
        
        .others {
            margin-right: 50px;
            display: flex;
            align-items: center;
            flex-direction: row;

            .language {
                display: flex;
                align-items: center;
                flex-direction: row;
                .globe-footer {
                    margin-right: 2px;
                    width: 15px;
                    height: auto;
                    vertical-align: middle;
                }
                &:hover {
                    text-decoration: underline;
                }
            }

            .help {
                display: flex;
                align-items: center;
                flex-direction: row;
                .fleche-haut {
                    margin-left: 2px;
                    width: 15px;
                    height: auto;
                    transform: rotate(180deg);
                    vertical-align: middle;
                }                
                &:hover {
                    text-decoration: underline;
                }
            }

            .devises button:hover {
                text-decoration: underline;
            }

            button {
                border: 0px;
                background-color: white;
                font-family: 'Roboto';
                font-size: 14px;
                font-weight: 600;
                color: rgb(15, 15, 15);
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
    
    .switch-map {
        align-self: center;
        position: fixed;
        z-index: 9999;

        button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 170px;
            height: 45px;
            border: none;
            border-radius: 25px;
            background-color: rgb(40, 40, 40);
            color: white;
            font-family: 'Roboto';
            font-size: 15px;
            font-weight: 600px;
            cursor: pointer;
            transition: transform 0.2s;

            img {
                margin-left: 7px;
                width: 10%;
                height: auto;
                filter: invert(100%);
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}
