<div class="header">
  <!-- --------------------------------------------- -->
  <!-- LEFT -->
  <!-- --------------------------------------------- -->

  <div class="left">
    <button>
      <img src="../../../assets/img/logo_airbnb.png" alt="left_icone_rbnb" />
    </button>
  </div>

  <!-- --------------------------------------------- -->
  <!-- CENTER -->
  <!-- --------------------------------------------- -->

  <div class="search-box">
    <button class="first-button">
      <input
        (input)="onInputChange($event)"
        type="text"
        [value]="selectedCity ? selectedCity : null"
        class="first-texte"
        placeholder="N'importe où"
      />
      <ul *ngIf="villes$ | async as villes" class="villes-container">
        <li
          (click)="onCityClick(ville)" 
          class="ville"
          *ngFor="let ville of villes"
        >
          {{ ville.nom }}
        </li>
      </ul>
    </button>

    <button class="second-button">
      <div class="second-texte">Une semaine</div>
    </button>

    <button class="third-button">
      <div class="third-texte">Ajouter des voyageurs</div>
    </button>

    <div class="search-image">
      <img src="../../../assets/img/search-icone.svg" alt="" />
    </div>
  </div>

  <!-- --------------------------------------------- -->
  <!-- RIGHT -->
  <!-- --------------------------------------------- -->

  <div class="right">
    <button class="text_button">Mettre mon logement sur Airbnb</button>

    <div class="language_button">
      <img src="../../../assets/img/langue_header.svg" />
    </div>

    <div class="profil_button">
      <img src="../../../assets/img/menu-profil.svg" />
      <img src="../../../assets/img/user-icone.svg" />
    </div>
  </div>
</div>
<!--HEADER CLASS-->
