<div class="header">

    <!-- --------------------------------------------- -->
                        <!-- LEFT -->
    <!-- --------------------------------------------- -->
    
    <div class="left">
        <img src="../../../assets/img/logo-texte-airbnb.svg" alt="left_icone_rbnb">
    </div>
    
    <!-- --------------------------------------------- -->
                        <!-- CENTER -->
    <!-- --------------------------------------------- -->
    <div class="center">
    
        <input type="text">
        <input type="text">
        <input type="text">
    
    </div>
    
    <!-- --------------------------------------------- -->
                        <!-- RIGHT -->
    <!-- --------------------------------------------- -->
    
    <div class="right">
    
        <h1> Mettre mon logement sur Airbnb</h1>
        <img src="../../../assets/img/langue_header.svg">
        <h1> Profil </h1>
    
    </div>
    
    </div> 