/*
* Disposition de chaque composant entre eux
*/
.page {
    display: flex;
    flex-direction: column;

    app-header {
        position: sticky;
        top: 0;
        z-index: 999; /* affichage  prioritaire */
    }

    app-sub-header{
        position: sticky;
        top: 13vh;
        z-index: 998;
    }

    app-mainpage {
        flex: 1;
    }

    app-footer {
        position: sticky;
        bottom: 0;
        z-index: 997;
    }
}