.page {
    display: flex;
    flex-direction: column;

    app-header {
        height: 60px; /* définissez la hauteur de votre en-tête selon vos besoins */
    }

    app-mainpage {
        flex: 1;
    }
}