<div class="sub-header" [class.shadowed]="shouldAddShadow">

    <div class="image-slider">

      <!-- image 1 -->
      <div class="image-item">
        <img src="../../../assets/img/1b6a8b70-a3b6-48b5-88e1-2243d9172c06.jpg" alt="Image 1">
        <div class="image-text">Manoir</div>
      </div>

      <!-- image 2 -->
      <div class="image-item">
        <img src="../../../assets/img/1d477273-96d6-4819-9bda-9085f809dad3.jpg" alt="Image 2">
        <div class="image-text">Tente</div>
      </div>

      <!-- image 3 -->
      <div class="image-item">
        <img src="../../../assets/img/3fb523a0-b622-4368-8142-b5e03df7549b.jpg" alt="Image 2">
        <div class="image-text">Piscine</div>
      </div>

      <!-- image 4 -->
      <div class="image-item">
        <img src="../../../assets/img/4d4a4eba-c7e4-43eb-9ce2-95e1d200d10e.jpg" alt="Image 2">
        <div class="image-text">Cabane</div>
      </div>

      <!-- image 5 -->
      <div class="image-item">
        <img src="../../../assets/img/8e507f16-4943-4be9-b707-59bd38d56309.jpg" alt="Image 2">
        <div class="image-text">Plages</div>
      </div>

      <!-- image 6 -->
      <div class="image-item">
        <img src="../../../assets/img/757deeaa-c78f-488f-992b-d3b1ecc06fc9.jpg" alt="Image 2">
        <div class="image-text">Châlet</div>
      </div>

      <!-- image 7 -->
      <div class="image-item">
        <img src="../../../assets/img/677a041d-7264-4c45-bb72-52bff21eb6e8.jpg" alt="Image 2">
        <div class="image-text">Bord de mer</div>
      </div>

      <!-- image 8 -->
      <div class="image-item">
        <img src="../../../assets/img/687a8682-68b3-4f21-8d71-3c3aef6c1110.jpg" alt="Image 2">
        <div class="image-text">Bâteau</div>
      </div>

      <!-- image 9 -->
      <div class="image-item">
        <img src="../../../assets/img/6ad4bd95-f086-437d-97e3-14d12155ddfe.jpg" alt="Image 2">
        <div class="image-text">Campagne</div>
      </div>

      <!-- image 10 -->
      <div class="image-item">
        <img src="../../../assets/img/21cfc7c9-5457-494d-9779-7b0c21d81a25.jpg" alt="Image 2">
        <div class="image-text">Résidence</div>
      </div>

      <!-- image 11 -->
      <div class="image-item">
        <img src="../../../assets/img/4d4a4eba-c7e4-43eb-9ce2-95e1d200d10e.jpg" alt="Image 2">
        <div class="image-text">Cabane</div>
      </div>
      <!-- Ajoutez autant d'images que nécessaire -->
    </div>
    
    <!-- <div class="scroll-button" (click)="scrollImages('right')"> -->
    <div class="scroll-button">
      <img src="../../../assets/img/arrow-droite.svg" alt="Scroll Right">
    </div>
  
    <div class="button-with-text">
      <button>
        <img src="../../../assets/img/filter.svg" alt="Icon">
        Filtres
      </button>
    </div>
</div>
  