.sub-header {
  width: 100%;
  height: 13vh;
  max-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: relative;

  .scroll-button-left {
    cursor: pointer;
    width: 5%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: transform 0.2s;
    position: relative;
    margin-left: 6vh;

    img {
      border: 1px solid #ccc;
      border-radius: 25px;
      padding: 6px;
      width: 25%;
      height: auto;
    }

    &:hover {
      transform: scale(1.05);
    }

    &::after {
      content: "";
      background-color: red;
      position: absolute;
      top: 0;
      left: 100%; /* Positionné à droite du bouton */
      width: 50px;
      height: 100%;
      background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.5)
      );
      pointer-events: none; /* Pour ignorer les interactions de l'utilisateur */
    }
  }

  .image-slider {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: 7vh;
    cursor: pointer;
    overflow: hidden;
    align-items: flex-end;
    position: relative;

    .image-item {
      text-align: center;
      margin-right: 33px; /* Espace entre chaque image */

      img {
        width: 22px;
        height: auto; /* Garde le ratio hauteur/largeur */
        filter: invert(30%);
      }

      .image-text {
        font-family: "airbnbcereal_w_mduploadedfile";
        font-size: 12px;
        margin-top: 0.3vh; /* Espace entre l'image et le texte */
        white-space: nowrap;
        color: darkslategray;
      }
    }
  }

  .scroll-button-right {
    cursor: pointer;
    width: 5%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: transform 0.2s;
    position: relative;

    img {
      //border: black;
      border: 1px solid #ccc;
      border-radius: 25px;
      padding: 6px;
      width: 25%;
      height: auto;
    }

    &:hover {
      transform: scale(1.05);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 100%; /* Positionné à gauche du bouton */
      width: 50px;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.5)
      );
      pointer-events: none; /* Pour ignorer les interactions de l'utilisateur */
    }
  }

  .button-with-text {
    margin-right: 8vh;
    width: 8%;
    height: 60%;

    button {
      font-family: 'airbnbcereal_w_bkregular';
      font-size: 12px;
      font-weight: bold;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      cursor: pointer;
      border-radius: 10px;
      background-color: white;
      img {
        margin-right: 10px;
        width: 20%;
        height: 100%;
      }
    }
  }
}

.shadowed {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Exemple d'ombre */
  /* Ajoutez d'autres styles selon vos besoins */
}
